@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #44ddff
$kaldi-red-invert: #33ddff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

html
  background: #343a40
  color: #e5e5e5
body
 background: #343a40 !important
 color: #e5e5e5
p
  color: #e5e5e5 !important
h1
  color: #44ddff !important
  border-bottom: 0.25rem solid $kaldi-red
h2
  color: #44ddff !important
  border-bottom: 0.25rem solid $kaldi-red
h3
  color: #44ddff !important
  border-bottom: 0.25rem solid $kaldi-red
h4
  color: #e5e5e5 !important
h5
  color: #e5e5e5 !important
h6
  color: #e5e5e5 !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0
    color: #e5e5e5 !important
// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"
